{% extends "base.html" %}

{% block content %}
    <div class="modal fade" id="deleteAllResolutionsModal" tabindex="-1" role="dialog" aria-labelledby="deleteAllResolutionsModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Verwijder alle moties</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Weet je zeker dat je alle moties wilt verwijderen?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                    <a href="{{ url_for('admin_delete_all_resolutions') }}" class="btn btn-danger">Verwijderen</a>
                </div>
            </div>
        </div>
    </div>

    <h1>Admin paneel</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Voorzitters toevoegen</h4>
                <form action="" method="post" novalidate>
                    {{ chairman_form.hidden_tag() }}
                    <p>
                    <div class="form-group">
                        {{ chairman_form.username.label(for="username") }}
                        {{ chairman_form.username(class="form-control", id="username") }}
                    </div>
                    </p>
                    <p>
                    <div class="form-group">
                        {{ chairman_form.email.label(for="email") }}<br>
                        {{ chairman_form.email(class="form-control", id="email") }}
                    </div>
                    </p>
                    <p>
                    <div class="form-group">
                        {{ chairman_form.password.label(for="password") }}<br>
                        {{ chairman_form.password(class="form-control", id="password") }}
                    </div>
                    </p>
                    <p>
                    <div class="form-group">
                        {{ chairman_form.retype_password.label(for="retype_password") }}<br>
                        {{ chairman_form.retype_password(class="form-control", id="retype_password") }}
                    </div>
                    </p>
                    <p>
                    <div class="form-group">
                        {{ chairman_form.association.label(for="association") }}<br>
                        {{ chairman_form.association(class="form-control", id="association") }}
                    </div>
                    </p>
                    <p>
                        {{ chairman_form.submit(class="btn btn-primary") }}
                    </p>
                </form>
                <h4>Acties voor WIMOS</h4>
                <a href="{{ url_for('tog_alcohol') }}" class="button btn btn-primary">{% if not alcohol_passed %}Moties
                    alleen na alcoholstreep{% else %}Moties voor en na alcoholstreep{% endif %}</a>
                <button type="button" class="btn btn-danger" data-toggle="modal"
                        data-target="#deleteAllResolutionsModal">Verwijder alle moties
                </button>
            </div>
            <div class="col">
                <h4>Stel locatie en eerste motienummer in</h4>
                <form action="" method="post" novalidate>
                    {{ variable_form.hidden_tag() }}
                    <p>
                    <div class="form-group">
                        {{ variable_form.location.label(for="location") }}
                        {{ variable_form.location(class="form-control", id="location", value=location) }}
                    </div>
                    </p>
                    <p>
                    <div class="form-group">
                        {{ variable_form.starting_number.label(for="starting_number") }}<br>
                        {{ variable_form.starting_number(class="form-control", id="starting_number", value=starting_number) }}
                    </div>
                    </p>
                    <p>
                        {{ variable_form.submit(class="btn btn-primary") }}
                    </p>
                </form>
            </div>
            <div class="col">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Naam</th>
                        <th></th>
                        <th>Email</th>
                        <th>Rollen</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for u in users %}
                        <tr>
                            <td>{{ u.username }}</td>
                            <td><img src="{{ url_for('.static', filename='logos/' + u.association + '.png') }}" width="30px" alt="{{ u.association }}"></td>
                            <td>{{ u.email }}</td>
                            <td>{{ u.roles }}</td>
                            <td>{% if not u.has_roles('Admin') %}<a href="{{ url_for('admin_delete_user', id=u.id) }}" class="btn btn-danger">Verwijderen</a>{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}