{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    <div class="form-group">
                        {{ form.username.label(for="username") }}
                        {{ form.username(class="form-control", id="username") }}
                    </div>
                </p>
                    <p>
                    <div class="form-group">
                        {{ form.email.label(for="email") }}<br>
                        {{ form.email(class="form-control", id="email") }}
                    </div>
                    </p>
                <p>
                    <div class="form-group">
                        {{ form.password.label(for="password") }}<br>
                        {{ form.password(class="form-control", id="password") }}
                    </div>
                </p>
                <p>
                    <div class="form-group">
                        {{ form.retype_password.label(for="retype_password") }}<br>
                        {{ form.retype_password(class="form-control", id="retype_password") }}
                    </div>
                </p>
                <p>
                    <div class="form-group">
                        {{ form.role.label(for="role") }}<br>
                        {{ form.role(class="form-control", id="role") }}
                    </div>
                </p>
                <p>
                    {{ form.submit(class="btn btn-primary") }}
                </p>
            </form>
        </div>
    </div>
{% endblock %}