{% extends "base.html" %}

{% block content %}
    <script>
        function reloadPage() {
            location.reload()
        }
        function autoRefresh(t) {
            setTimeout(reloadPage, t)
        }
        autoRefresh(300000);
    </script>

    <div class="loaded"><i><sup>Pagina geladen om {{ time.strftime("%H:%M:%S") }}. Deze pagina wordt elke 5 minuten automatisch herladen.</sup></i></div>
    <div class="motielijst">
        <p class="text">
        Welkom, {{ current_user.username }}! Je hebt de rol van {% if current_user.has_roles('Voorzitter') %}Stemgerechtigde. Je kan hieronder stemmen op moties. In het menu kun je het formulier vinden om moties in te dienen.
        {% elif current_user.has_roles('Bestuurslid') %}Bestuurslid. Vraag je voorzitter om te stemmen op moties. In het menu kun je het formulier vinden om moties in te dienen.
        {% else %}Kandi. Je kan alleen moties bekijken! Gelukkig voor jou is het WISO online, dus hoef je geen moties rond te delen. Dat is boffen!{% endif %}
        </p>

        {% set count = [1] %}
        {% for i in [false, true] %}
        {% if i == true %}
            <h2>Moties na de alcoholstreep</h2>
        {% endif %}
        <table class="table">
            <thead>
                <tr>
                    <th>Nummer</th>
                    <th>Motie</th>
                    <th>Voor</th>
                    <th>Gezien</th>
                    {% if current_user.has_roles('Voorzitter') %}
                    <th>Acties</th>
                    {% endif %}
                    {% if current_user.has_roles('Organisator') %}
                    <th>Stemming</th>
                    {% endif %}
                </tr>
            </thead>
            {% for r in Resolution.query.filter(Resolution.alcohol == i).all() %}
                {% with votes = r.vote_list() %}
                {% with seen = r.seen_list() %}

                {% if r.passed == true %}
                <tr class="row-backgroundcolor-green">
                {% elif r.passed == false %}
                <tr class="row-backgroundcolor-red">
                {% else %}
                <tr>
                {% endif %}

                <td>
                    {{ r.timestamp.strftime("%Y") }}.{{ count[0] + starting_number }}
                {% if count.append(count.pop() + 1) %}{% endif %}<br>
                    <i>{{ r.association }}</i>
                </td>
                <td>
                    De leden van het WISO, ter overleg bijeen op {{ parse_date(r.timestamp) }} te {{ location }}, gehoord de beraadslagingen, constaterende dat <b>{{ r.observation }}</b>, overwegende dat <b>{{ r.consideration }}</b>, dragen het WISO op <b>{{ r.decision }}</b> en gaan over tot de orde van de dag.
                </td>
                <td width="10%">
                    {% for vote in votes %}
                        <img src="{{ url_for('.static', filename='logos/' + vote + '.png') }}" width="30px" alt="{{ vote }}">
                    {% endfor %}
                </td>
                <td width="12%">
                    {% for seen in seen %}
                        <img src="{{ url_for('.static', filename='logos/' + seen + '.png') }}" width="30px" alt="{{ vote }}">
                    {% endfor %}
                </td>
                {% if current_user.has_roles('Voorzitter') %}
                <td>
                    {% if r.passed == none %}
                    {% if not current_user.association in votes %}
                        <a href="{{ url_for('vote_resolution', id=r.id) }}" class="btn btn-primary" >Voor</a>
                    {% endif %}
                    {% if not current_user.association in seen %}
                        <a href="{{ url_for('mark_resolution_as_seen', id=r.id) }}" class="btn btn-primary" >Gezien</a>
                    {% endif %}
                    {% endif %}
                </td>
                {% endif %}
                {% if current_user.has_roles('Organisator') %}
                <td class="admin-buttons">
                    <a href="{{ url_for('pass_resolution', id=r.id) }}" class="btn btn-success" >Goedgekeurd</a>
                    <a href="{{ url_for('reject_resolution', id=r.id) }}" class="btn btn-danger" >Afgekeurd</a>
                    <a href="{{ url_for('undo_resolution_vote', id=r.id) }}" class="btn btn-secondary" >Ongedaan maken</a>
                </td>
                {% endif %}
            </tr>
                {% endwith %}
                {% endwith %}
            {% endfor %}
        </table>
        <hr>
        {% endfor %}
    </div>
{% endblock %}